<div id="role_form" class="centered-card clearfix">
  <%= form_tag(assign_permission_roles_path, method: "post") do %>
    <%= hidden_field_tag :role_id, @role.id %>
    <div class="field">
      <%= label_tag(:permission, "Permission") %>
      <%= collection_select(nil, :permission_id, Permission.all, :id, :title, {:prompt => "Select Role"}, {:multiple => false}) %>
    </div>
    <div class="actions">
      <%= submit_tag("Assign permission", :class => "text btn btn-primary") %>
    </div>
  <% end %>
</div>

