<div class="manage-section container-fluid">
  <div class="row-fluid clearfix">
    <div class="col-md-4">
      <%= link_to 'Edit', edit_role_path(@role), :class => 'btn btn-info' %>
      <%= link_to 'Back', roles_path, :class => 'btn btn-info' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-4">
      <table class="table table-bordered">
        <tr>
          <td>Role Name:</td>
          <td> <%= @role.name %></td>
        </tr>
        <tr>
          <td>Description:</td>
          <td><%= @role.description %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="field clearfix">
    <button type="button" id="b4" class="btn btn-primary pull-right" data-toggle="modal" data-target="#permissionModal">
      Add New Permission
    </button>
  </div>
  <div class="modal fade in" id="permissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add new Permission</h4>
        </div>
        <div class="modal-body">
          <%= render 'roles/permission_form' %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= render 'role_permissions' %>
  </div>
</div>