<section id="modal-help-wrapper" class="help-wrapper">
  <div class="clearfix">
    <a href="#" onclick="ce_ec.modal.toggleHelp()">Close <%= fa_icon 'times' %></a>
    <a id="briefDetailedToggle" onClick="ce_ec.modal.toggleDetailedHelp()" class='pull-right' href="#">Detailed help</a>
  </div>
  <%= yield :modal_help %>
</section>
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <a href="#" class='close' title="help" onclick="ce_ec.modal.toggleHelp()"><%= fa_icon 'question-circle' %></a>
    <h4 class="modal-title" id="myModalLabel">
      <%= yield :modal_title %>
    </h4>
  </div>
  <div class="modal-body">
    <%= yield %>
  </div>
</div>
