<ul id="generic_master_menu" class="sub-menu">
  <li><%= link_to users_path do %>Users <span class="icon"><%= fa_icon 'chevron-right' %></span>
    <% end %></li>
  <li><%= link_to roles_path do %>Roles <span class="icon"><%= fa_icon 'chevron-right' %></span>
    <% end %></li>
  <li><%= link_to permissions_path do %>Permissions <span class="icon"><%= fa_icon 'chevron-right' %></span>
    <% end %></li>
</ul>