<div id = "role_form" class="centered-card clearfix">
  <%= form_tag(assign_role_users_path, method: "post") do %>
    <%= hidden_field_tag :user_id, @user.id %>
    <div class="field">
      <%= label_tag(:role, "Role") %>
      <%= collection_select(nil, :role_id, Role.all, :id, :name, {:prompt => "Select Role"}, {:multiple => false}) %>
    </div>
    <div class="actions">
      <%= submit_tag("Assign Role", :class=>"text btn btn-primary")%>
    </div>
  <% end %>
</div>

